.servicios {


  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 2em;

    @media (min-width: 1024px) {
      grid-template-columns: 60% 1fr;
      column-gap: 10%;
    }

    @media (min-width: 1024px) {
      padding: 0 15%;
    }
  }

  &__list {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      margin-bottom: .75em;
      position: relative;
      font-weight: 700;

      &::before {
        content: '- ';
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__imgs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;

    @media (orientation: portrait) {
      img:nth-child(even) {
        display: none;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/.5;
      object-position: bottom;
      object-fit: cover;

    }
  }
}

.banner {
  margin: 0 auto;
  margin-top: 1;

  @media (min-width: 1024px) {
    max-width: 80%;
    margin-top: 2em;
  }
}
