@font-face {
    font-family: 'Muli';
    src: url('Muli-Bold.woff2') format('woff2'),
        url('Muli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Regular.woff2') format('woff2'),
        url('Muli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-SemiBold.woff2') format('woff2'),
        url('Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

